table {
    width: 100%;
    padding: 25px;
}

.datadivtable {
    border: 1px solid gray;
    margin: 50px;
}

.demo-add-button {
    margin-left: 50px !important;
    margin-top: 20px !important;
    margin-bottom: -30px !important;
}

.editButton {
    padding-right: 10px;
}

.deleteButton {
    margin-left: 20px;
    padding-right: 10px;
}