@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Client, Account and Book Master Data Management | IB Reference Data</a>.</p>
</div>
